.bg {
    background-image: url('../pages/add.jpg') ; 
    position:static; 
    top: -20; 
    left: 0; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow:auto;
    
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

